# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\我的项目\python项目\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
